.section_contact {
    width: 100%;
    height: auto;
}
.form_contact {
    padding-top: 15px;
}
.feedback-input {
    color: $font-color;
    font-weight: lighter;
    font-size: $font-size-m;
    line-height: 28px;
    background-color: $text-color;
    padding: 13px 13px 13px 30px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid $diffrent-text-color;
}
.feedback-input:focus {
    background: $text-color;
    border: 1px solid $diffrent-text-color;
    color: $diffrent-text-color;
    outline: none;
    padding: 13px 13px 13px 30px;
}
textarea {
    width: 100%;
    height: 350px;
    line-height: 150%;
    resize: vertical;
}
#contact_btn {
    background: $color;
    border-bottom: solid 5px $border-color;
    border-radius: 7px;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    font-size: $font-size-m;
    text-decoration: none;
    color: $text-color;
    display: block;
    width: 220px;
    margin: 0 auto;
    transition: background-color 0.3s linear, border 0.2s linear;
}
#about_us_btn {
    float: left;
    margin-left: 45px;
}
#contact_btn:hover {
    color: $border-color;
    background: #FFF;
    border-top: solid 5px $border-color;
    border-bottom: solid 2px $border-color;
    border-left: solid 2px $border-color;
    border-right: solid 2px $border-color;
}
.text_contact {
    p {
        color: $diffrent-text-color;
        display: inline-block;
        text-align: left;
        font-size: $font-size-m;
    }
    h3 {
        color: $font-color;
        display: inline-block;
        text-align: left;
        font-size: $font-size-m;
    }
}
.contact_icons {
    position: relative;
}
.contact_social_icon {
    display: inline-block;
    margin-right: 35px;
    border: 1px solid $diffrent-text-color;
    border-radius: 50%;
    font-weight: light;
    text-decoration: none;
    color: $font-color;
    text-align: center;
}
.contact_social_icon:hover {
    border: 1px solid $color;
    color: $color;
}
.section_contact {
    width: 100%;
    text-align: center;
    padding-top: 150px;
    .logo {
        margin: 0 auto;
    }
}
.error {
    font-size: $font-size-m;
    color: $border-color;
}
@media (max-width:$desktop) {
    .form_contact {
        margin-top: 70px;
        height: 500px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .form-div {
        margin: 0 auto;
        text-align: center;
    }
    .text_contact {
        margin-top: 150px;
        padding: 15px;
        text-align: center;
        p {
            position: relative;
        }
    }
    .contact_icons {
        margin: 0 auto;
        text-align: center;
    }
    .contact_social_icon {
        margin-top: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: $font-size-m;
    }
}
// zamkniecie media dla mobile-desktop
@media (min-width: $desktop) {
    .section_contact {
        min-height: 1300px;
        margin-top: 190px;
    }
    .form_contact {
        float: left;
        width: 40%;
        margin-top: 170px;
        height: 620px;
    }
    .form-div {
        width: 530px;
        float: left;
    }
    #contact_btn {
        float: left;
    }
    .text_contact {
        height: 620px;
        width: 45%;
        float: right;
        margin-top: 170px;
    }
    .contact_icons {
        text-align: left;
    }
    .contact_social_icon {
        width: 78px;
        height: 78px;
        line-height: 78px;
        font-size: $font-size-l;
    }
    .section_contact {
        .logo {
            margin-left: 35%;
        }
    }
}
// zamkniecie media dla mobile-desktop
