.numbers {
    margin: 0 auto;
    padding: 175px 0 0;
    text-align: center;
    min-height: 900px;
    background-color: $section-background-color;

}
.section_numbers_border{
  border-bottom: 45px solid white;
}
.number_items {
    display: inline-block;

    h1,
    p {
        color: $diffrent-text-color;
    }
    h1 {
        font-size: $font-size-xl;
        margin: 60px;
        color: $font-color;
        font-weight: normal;
    }
    p {
        font-size: $font-size-xs;
        margin-top: -45px;
    }

}

.numbers_circle {
    border-radius: 50%;
    border: 1px solid $circle-color;
    width: 170px;
    height: 170px;
    position: relative;
    display: inline-block;
    background: $circle-color;
    margin-top:100px;
    // margin-left: 18%;
}

.quotation{
margin-top:50px;
  font-size: 33px;
  color: $font-color;
}

#quotation_autor{
  margin-top:50px;
  font-size: $font-size-m;
  text-transform: uppercase;
  color: $font-color;
}
