.main_section_team {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
.progress_bars {
    padding-top: 15%;
    h4 {
        color: black;
        font-weight: normal;
    }
    span {
        color: $diffrent-text-color;
        display: inline-block;
        float: right;
    }
    progress {
        background-color: $progress_bar_color;
        border: 0;
        height: 18px;
        width: 450px;
    }
    progress::-webkit-progress-bar {
        background-color: $progress_bar_color;
        border: 0;
        height: 18px;
    }
    progress::-webkit-progress-value {
        background-color: $color;
        border: 0;
        height: 18px;
    }
    progress::-moz-progress-bar {
        background-color: $progress_bar_color;
        border: 0;
        height: 18px;
    }
    .progress_bars_2a {
        position: relative;
    }
    .progress_bars_2b {
        position: relative;
    }
}
@media (max-width:$desktop) {
    .main_section_team {
        min-height: 550px;
    }
    .progress_bars {
        margin-left: 5%;
        span {
            margin-right: 5%;
        }
        progress {
            width: 80%;
        }
        .progress_bars_2a {
            position: relative;
        }
        .progress_bars_2b {
            position: relative;
        }
    }
}
//zamkniecie media dla mobile-desktop
@media (min-width: $desktop) {
    .main_section_team {
        min-height: 750px;
    }
    .progress_bars {
        .progress_bars_2a {
            float: left;
        }
        .progress_bars_2b {
            float: right;
        }
    }
}
// zamkniecie media dla desktop
