.slider {
    ul {
        list-style: none;
    }
    li {
        display: none;
    }
    .visible {
        display: inline-block;
    }
}
.person {
    min-height: 500px;
    height: auto;
    padding-bottom: 100px;
    min-width: 300px;
    // text-align: center;
    border:1px solid hotpink;

    #img_person1 {
        background-image: url("/images/person1.png");
        background-position: center;
        background-size: cover;
    }
    #img_person2 {
        background-image: url("/images/person3.png");
        background-position: center;
        background-size: cover;
    }
    #img_person3 {
        background-image: url("/images/person5.png");
        background-position: center;
        background-size: cover;
    }
    .circle_mugshot {
        border-radius: 50%;
        border: 1px solid $text-color;
        width: 220px;
        height: 220px;
        position: relative;
        display: inline-block;
        // background-color: $circle-color;
        text-align: center;
    }
    h3 {
        margin-top: 20%;
        font-weight: normal;
        color: $font-color;
        text-transform: uppercase;
        font-size: $font-size-m;
        text-align: center;
    }
    p {
        color: $diffrent-text-color;
        font-size: $font-size-s;
        text-align: center;
    }
    .social_icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid $diffrent-text-color;
        display: inline-block;
        text-align: center;
        position: relative;
        font-size: $font-size-m;
        font-weight: normal;
        text-decoration: none;
        color: $diffrent-text-color;
    }
    .icons {
        display: inline-block;
    }
}
.nav_icons {
    text-align: center;
}
.nav_icon_l,
.nav_icon_r {
    background: url("/images/arrows.png") no-repeat;
    display: inline-block;
    height: 100px;
    margin-top: 10%;
    width: 65px;
}
.nav_icon_l {
    background-position: 0 0;
}
.nav_icon_r {
    background-position: -70px 0;
}
@media (max-width:$desktop) {
    #person2,
    #person3 {
        display: none;
    }
    .person {
        margin: 0 auto;
        text-align: center;
        .circle_mugshot {
            margin: 0 auto;
        }
        .social_icon {
            margin: 0 auto;
        }
    }
}
//zamkniecie media dla mobile-desktop
@media (min-width: $desktop) {
    .person {
        float: left;
        width: 30%;
        margin: 1%;
        padding-top: 150px;
        .circle_mugshot {
            margin-left: 18%;
        }
        .social_icon {
            margin-left: 20px;
        }
        .icons {
            margin: 0 auto;
            padding-left: 25%;
        }
    }
}
// zamkniecie media dla desktop
