$color: #9f449b;
$border-color: #6B2E68;
$text-color: #ffffff;
$diffrent-text-color: #676767;
$font-color: black;


$circle-color: #aaaaaa;
$section-background-color: #eeeeee;
$progress_bar_color:#f3f3f3;


$font-size-xl: 64px;//$font-size-xxl
$font-size-l: 48px;//$font-size-h1
$font-size-m: 24px;//$font-size-p
$font-size-s: 18px;//$font-size-span:
$font-size-xs: 16px; // $font-size-section-p
